script(type='text/javascript')
   | var cities = [
   | {"id":"1","city_position":"49.9935, 36.230383","shop_coordinates":"50.0240871, 36.3384152","content":"Харьков","marker_content":"Харьков, улица Героев Труда, 9а","markerImage":"images/shop.png",},
   | {"id":"1","city_position":"49.9935, 36.230383","shop_coordinates":"50.068035, 36.199253","content":"Харьков","marker_content":"Харьков, улица Героев Труда, 9а","markerImage":"images/shop.png",},
   | {"id":"1","city_position":"50.4501, 30.5234","shop_coordinates":"50.51892429999999, 30.4752592","content":"Киев","marker_content":"Харьков, улица Героев Труда, 9а","markerImage":"images/shop.png",},
   | {"id":"1","city_position":"50.4501, 30.5234","shop_coordinates":"50.4520018, 30.6504985","content":"Киев","marker_content":"Харьков, улица Героев Труда, 9а","markerImage":"images/shop.png",},
   | {"id":"1","city_position":"49.9935, 36.230383","shop_coordinates":"48.437303, 22.748883","content":"Харьков","marker_content":"Харьков, улица Героев Труда, 9а","markerImage":"images/shop.png",},
   | {"id":"1","city_position":"49.9935, 36.230383","shop_coordinates":"50.629307, 26.272303","content":"Харьков","marker_content":"Харьков, улица Героев Труда, 9а","markerImage":"images/shop.png",},
   | {"id":"1","city_position":"49.9935, 36.230383","shop_coordinates":"48.608893, 22.267927","content":"Харьков","marker_content":"Харьков, улица Героев Труда, 9а","markerImage":"images/shop.png",},
   | {"id":"2","city_position":"49.9935, 36.230383","shop_coordinates":"49.909775, 36.2747848","content":"Харьков","marker_content":"Харьков, улица Героев Труда, 9а","markerImage":"images/installer.png",},
   | {"id":"2","city_position":"49.9935, 36.230383","shop_coordinates":"49.937515, 36.2921369","content":"Харьков","marker_content":"Харьков, улица Героев Труда, 9а","markerImage":"images/installer.png",},
   | {"id":"2","city_position":"49.9935, 36.230383","shop_coordinates":"49.801594, 23.996540","content":"Харьков","marker_content":"Харьков, улица Героев Труда, 9а","markerImage":"images/installer.png",},
   | {"id":"2","city_position":"49.9935, 36.230383","shop_coordinates":"48.437303, 22.748883","content":"Харьков","marker_content":"Харьков, улица Героев Труда, 9а","markerImage":"images/installer.png",},
   | {"id":"2","city_position":"49.9935, 36.230383","shop_coordinates":"49.575643, 25.639975","content":"Харьков","marker_content":"Харьков, улица Героев Труда, 9а","markerImage":"images/installer.png",},
   | {"id":"3","city_position":"49.9935, 36.230383","shop_coordinates":"48.013393, 23.572651","content":"Харьков","marker_content":"Харьков, улица Героев Труда, 9а","markerImage":"images/service.png",},
   | {"id":"3","city_position":"49.9935, 36.230383","shop_coordinates":"50.255454, 28.704982","content":"Харьков","marker_content":"Харьков, улица Героев Труда, 9а","markerImage":"images/service.png",},
   | {"id":"3","city_position":"50.4501, 30.5234","shop_coordinates":"50.3768853, 30.4448527","content":"Киев","marker_content":"Харьков, улица Героев Труда, 9а","markerImage":"images/service.png",},
   | {"id":"3","city_position":"49.9935, 36.230383","shop_coordinates":"48.458989, 22.708556","content":"Харьков","marker_content":"Харьков, улица Героев Труда, 9а","markerImage":"images/service.png",},
   | {"id":"3","city_position":"49.9935, 36.230383","shop_coordinates":"49.812395, 23.977481","content":"Харьков","marker_content":"Харьков, улица Героев Труда, 9а","markerImage":"images/service.png",},
   | {"id":"0","city_position":"49.9935, 36.230383","shop_coordinates":"50.0529506, 30.7667133","content":"Харьков","marker_content":"Харьков, улица Героев Труда, 9а","markerImage":"images/marker_map.png",},
   |
   | ];
   | var rating = [10, 50, 10, 10, 20];
   | var dataFirstLine = [0, 59, 75, 20, 20, 55, 40];
   | var dataSecondLine = [0, 15, 60, 60, 65, 30, 100];


script(type='text/javascript', src='js/lib.min.js')
script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCNAljGFFDKq6W69dSVoW52nEhHtQ8nV78')
script(type='text/javascript', src='js/main.js')

